.header{
    width: 100%;
    text-transform: uppercase;
    background-color: #39445a ;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    position: fixed;
    color: white;
    padding-bottom: 10px;
    z-index: 100;
    border-bottom: 2px solid black;
}

@media (max-width : 1000px) {
    .header{
        padding-top: 15px;
        font-size: 5vh;
    }
}
