*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.app{
    min-height: 100vh;
    background-color: #39445a;
    color: white;
    padding-top: 90px;
}

.page-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 2vw;

}

@media (max-width:1000px) {
    .page-title{
        font-size: 4vw;
    }
}